# dependencies
node_modules/
/.pnp
.pnp.js
npm-debug.log

# next.js build output
.next/
/out/

# environment variables
.env
.env.local
#GEMINI.md

# OS & Editor files
.DS_Store
.idea/
.vscode/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/